body 
h1 , h3 {
  text-align: center;
  font-family: Georgia, serif;
}

.contenedor-boton {
  text-align: center;
}



label, legend {
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  
  display: block;
  margin: auto;
  padding: 15px;
  font-weight: 800;
}

input:hover {
  background-color: red;
}